<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <div class="ui container">
      <a href="/" class="header item">
        <!-- <img class="logo" src="assets/images/logo.png"> -->
        <i class="map icon"></i>
        Klostermaps
      </a>
      <a routerLink="/admin/overview" class="item" 
      [class.active]="this.router.url == '/admin/overview'">Übersicht</a>
      <a routerLink="/admin/event" class="item" 
        [class.active]="this.router.url == '/admin/event' || this.router.url == '/admin/event/createOrEdit'">Events & POIs</a>
      <a routerLink="/admin/map" class="item"
        [class.active]="this.router.url == '/admin/map' || this.router.url == '/admin/map/createOrEdit'">Karten</a>

    </div>

    <div class="right menu">

      <a class="item">
        <b><i class="cog icon"></i>Einstellungen</b>
      </a>

      <div class="ui dropdown item">
        <b><i class="user icon"></i>Konto</b>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="lock icon"></i>Anmeldung & Sicherheit</a>
          <a class="item"><i class="pencil icon"></i>Persönliche Daten</a>
          <div class="divider"></div>
          <a class="item"><i class="users icon"></i>Nutzerübersicht</a>
          <a class="item"><i class="flag icon"></i>Berechtigungen</a>
        </div>
      </div>

      <a class="item" (click)="logout()">
        <b><i class="logout icon"></i>Logout</b>
      </a>
    </div>
  </div>
</div>

<div class="main ui container">
  <div class="ui segment">
    <router-outlet></router-outlet>

    <div class="ui container large screen only">
      <div class="ui left rail">
        <div class="ui segment">
          <a class="ui blue ribbon label">Zusammenfassung</a>
          <div class="ui divider"></div>
    
          <div class="ui bulleted list">
            <div class="item">Aktives Event: <b>{{ activeEvent?.name || "Kein Event aktiv" }}</b></div>
            <div class="item">Geladene Karten: <b>{{ activeEvent != null ? "Erdgeschoss, 200er, 300er" : "Keine Karten aktiv" }}</b></div>
          </div>
        </div>
      </div>
  
      <div class="ui right rail">
        <div class="ui segment">
          <a class="ui blue right ribbon label">Schnellaktionen</a>
          <div class="ui divider"></div>
    
          <button class="ui fluid yellow button" routerLink="/admin/event/">Event ändern</button>
          <br>
          <button class="ui fluid yellow button">POI hinzufügen</button>
          <br>
          <button class="ui fluid yellow button" routerLink="/admin/map/createOrEdit">Karte hochladen</button>
        </div>
      </div>
    </div>
  </div>
</div>
