<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <div class="ui container">
        <a href="/" class="header item">
            <!-- <img class="logo" src="assets/images/logo.png"> -->
            <i class="map icon"></i>
            Klostermaps
        </a>
        <a href="/admin/overview" class="item" [class.active]="this.router.url == '/admin/overview'">Übersicht</a>
        <a href="/admin/event" class="item" [class.active]="this.router.url == '/admin/event'">Events</a>
        <a href="/admin/map" class="item" [class.active]="this.router.url == '/admin/map' || this.router.url == '/admin/map/createOrEdit'">Maps</a>

        </div>

        <div class="right menu">
            <a class="item" (click)="logout()">
                <i class="logout icon"></i>Logout
              </a>
        </div>
    </div>
</div>

<div class="ui main container">

    <div class="ui container">
        <div class="ui segment">
            <router-outlet></router-outlet> 
        </div>
    </div>

    <div class="ui dimmer">
        <div class="ui text loader">Loading</div>
    </div>
</div>

