<div class="ui centered raised card">
  <div class="content">
    <h1 class="header">Klostermaps</h1>
    <h4 class="ui sub header">Navigation durchs Schulhaus</h4>

    <hr>

    <form class="ui form" [formGroup]="startForm" (submit)="startNavigation()">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Start
          </div>
          <input type="text" placeholder="Raumnummer/Ort" name="start" formControlName="start" #name>
          <div *ngIf="name.touched && name.hasError('required')">Bitte ausfüllen</div>
        </div>
      </div>

      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Ziel
          </div>
          <input type="text" placeholder="Raumnummer/Ort" name="end" formControlName="end" #end>
          <div *ngIf="end.touched && end.hasError('required')">Bitte ausfüllen</div>
        </div> 
      </div>

      <div class="field">
        <button class="fluid ui blue button" [disabled]="!startForm.valid">Start <i class="arrow right icon"></i></button>
      </div>
    </form> 

    <hr>

    <p>Gib ein Start- und ein Zielort ein und Klostermaps navigiert dich! Die Raumnummern stehen auf Augenhöhe außen neben jeder Tür.</p>
  </div>
</div>