<div class="ui centered raised card">
  <div class="content">
    <h1 class="header">Klostermaps</h1>
    <h4 class="ui sub header">Navigation durchs Schulhaus</h4>

    <hr>

    <form class="ui form" [formGroup]="startForm" (submit)="startNavigation()">
      <div class="field">
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Start (Raumnummer/Ort)" name="start" formControlName="start" #name>
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field">
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Ziel (Raumnummer/Ort)" name="end" formControlName="end" #end>
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field">
        <button class="fluid ui blue button" [disabled]="!startForm.valid">Start <i class="arrow right icon"></i></button>
      </div>
    </form> 

    <hr>

    <p>Gib ein Start- und ein Zielort ein und Klostermaps navigiert dich! Die Raumnummern stehen auf Augenhöhe außen neben jeder Tür.</p>
  </div>
</div>