<div class="ui centered raised card">
  <div class="content">
    <h1 class="header">Klostermaps</h1>
    <h4 class="ui sub header">Navigation durchs Schulhaus</h4>

    <hr>

    <form class="ui form">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Start
          </div>
          <input type="text" placeholder="Raumnummer">
        </div>
      </div>

      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Ziel
          </div>
          <input type="text" placeholder="Raumnummer">
        </div>
      </div>

      <div class="field">
        <button class="fluid ui blue button">Start <i class="arrow right icon"></i></button>
      </div>
    </form> 

    <hr>

    <p>Gib ein Start- und ein Zielort ein und Klostermaps navigiert dich! Die Raumnummern stehen auf Augenhöhe außen neben jeder Tür.</p>
  </div>
</div>