<h2 class="ui dividing header" *ngIf="!eventId">Event anlegen</h2>
<h2 class="ui dividing header" *ngIf="eventId">Event bearbeiten</h2>

<div class="ui fluid steps">
  <div class="step" [class.active]="step==1" [class.completed]="step > 1">
    <i class="pencil icon"></i>
    <div class="content">
      <div class="title">Allgemeines</div>
      <div class="description">Attribute</div>
    </div>
  </div>
  <div class="step" [class.active]="step==2" [class.completed]="step > 2">
    <i class="map icon"></i>
    <div class="content">
      <div class="title">POIs</div>
      <div class="description">POIs definieren</div>
    </div>
  </div>
  <div class="step" [class.active]="step==3">
    <i class="plus icon"></i>
    <div class="content">
      <div class="title">Speichern</div>
      <div class="description">Überprüfen und speichern</div>
    </div>
  </div>
</div>

<form class="ui form" [hidden]="step != 1" [class.error]="!firstStep.form.valid || error" (ngSubmit)="firstStep.form.valid && onSubmit()" #firstStep="ngForm" novalidate>
  <h4 class="ui dividing header">Allgemein</h4>

  <div class="field" [class.error]="firstStep.submitted && name.invalid">
    <label>Name*</label>
    <input type="text" name="name" placeholder="Name" [(ngModel)]="firstStepModel.name" #name="ngModel" [ngClass]="{ 'is-invalid': firstStep.submitted && name.invalid }" required>

    <div *ngIf="firstStep.submitted && name.invalid" class="ui error message">
      <div *ngIf="name.errors.required">Bitte Namen eingeben</div>
    </div>
  </div>

  <div class="field" [class.error]="firstStep.submitted && description.invalid">
    <label>Beschreibung</label>
    <textarea name="description" placeholder="Beschreibung" [(ngModel)]="firstStepModel.description" #description="ngModel" [ngClass]="{ 'is-invalid': firstStep.submitted && description.invalid }" rows="5" class="ui textarea"></textarea>
  </div>

  <!-- TODO: use other event as template, show only if at least one event is created -->
  <ng-container *ngIf="false">
    <h4 class="ui dividing header">Vorlage</h4>

    <div class="field">
      <label>Anderes Event als Vorlage verwenden</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="eventTemplate">
        <i class="dropdown icon"></i>
        <div class="default text">Vorlage</div>
        <div class="menu">
          <div class="item" data-value="1">350-Jahr-Feier (15 POIs)</div>
          <div class="item" data-value="0">Musischer Abend (3 POIs)</div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="field">
    <button type="button" class="ui fluid blue submit button" [class.disabled]="!firstStep.form.valid" (click)="nextStep()">Weiter <i class="angle right icon"></i></button>
  </div>

  <div class="field">
    <div class="ui divider"></div>
    Die mit * gekennzeichneten Felder sind Pflichtfelder.
  </div>
</form>


<form class="ui form" [hidden]="step != 2" [class.error]="!secondStep.form.valid || error" (ngSubmit)="secondStep.form.valid && onSubmit()" #secondStep="ngForm" novalidate>
  <h4 class="ui dividing header">POIs definieren</h4>

  <div class="field">
    <div class="ui message">
      <i class="close icon"></i>
      <div class="header">
        POIs auf Karte hinzufügen
      </div>
      <ul class="list">
        <li>Karte aus dem Dropdown auswählen</li>
        <li>Marker anklicken und Name in das Feld eingeben, zum Speichern in die Karte oder auf das kleine Kreuz klicken</li>
      </ul>
    </div>
  </div>

  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="map">
    <i class="dropdown icon"></i>
    <div class="default text">Grundriss auswählen</div>
    <div class="menu">
      <div class="item" *ngFor="let map of maps" [attr.data-value]="map.mapFileName"><i class="map icon"></i>{{ map.name }}</div>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="field">
    <!-- Leaflet map container-->
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>

    <input type="hidden" name="keywords" [(ngModel)]="secondStepModel.keywords" #keywords="ngModel" required>
  </div>

  <div class="field">
    <div class="ui fluid buttons">
      <button type="button" class="ui button" (click)="previousStep()"><i class="angle left icon"></i> Zurück</button>
      <button type="button" class="ui blue button" [class.disabled]="!secondStep.form.valid" (click)="nextStep()">Weiter <i class="angle right icon"></i></button>
    </div>
  </div>

  <div class="field">
    <div class="ui divider"></div>
    Die mit * gekennzeichneten Felder sind Pflichtfelder.
  </div>
</form>

<div *ngIf="step == 3">
  <h4 class="ui dividing header">Überprüfen</h4>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Eventname</th>
        <th>POI Bezeichnung</th>
        <th>Karte</th>
      </tr>
    </thead>

    <tbody>
      <!-- this is some strange bug... -->
      <tr *ngFor="let keyword of JSON.parse(secondStepModel.keywords)">
        <td>{{ firstStepModel.name }}</td>
        <td>{{ keyword.key }}</td>
        <td><i class="map icon"></i>{{ getMapForId(keyword.map) }}</td>
      </tr>
    </tbody>
  </table>

  <div class="field">
    <div class="ui fluid buttons">
      <button type="button" class="ui button" (click)="previousStep()"><i class="angle left icon"></i> Zurück</button>
      <button type="button" class="ui green button" (click)="createOrEditEvent()">Speichern <i class="angle right icon"></i></button>
    </div>
  </div>

</div>