<div class="ui container">

  <h1 class="ui header">Klostermaps: Dashboard</h1>

  <div class="ui four statistics">
    <div class="statistic">
      <div class="value">
        3
      </div>
      <div class="label">
        Events
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        27
      </div>
      <div class="label">
        POIs
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        15
      </div>
      <div class="label">
        Karten
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        750
      </div>
      <div class="label">
        (m) Gang
      </div>
    </div>
  </div>
</div>