<div class="ui container">

  <h2 class="ui dividing header">Aktives Event:&nbsp; <a class="ui blue tag label">350-Jahr-Feier</a></h2>

  <h4 class="ui header">Alle Events</h4>

  <table class="ui celled table">
    <thead>
      <tr><th>Name</th>
      <th>Age</th>
      <th>Job</th>
    </tr></thead>
    <tbody>
      <tr>
        <td data-label="Name">James</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Engineer</td>
      </tr>
      <tr>
        <td data-label="Name">Jill</td>
        <td data-label="Age">26</td>
        <td data-label="Job">Engineer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
    </tbody>
  </table>

  <h4 class="ui header">Alle Maps</h4>

  <table class="ui celled table">
    <thead>
      <tr><th>Name</th>
      <th>Age</th>
      <th>Job</th>
    </tr></thead>
    <tbody>
      <tr>
        <td data-label="Name">James</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Engineer</td>
      </tr>
      <tr>
        <td data-label="Name">Jill</td>
        <td data-label="Age">26</td>
        <td data-label="Job">Engineer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
    </tbody>
  </table>
</div>