<div class="ui container">
  
  <h1 class="ui large header">
    Klostermaps: Dashboard
  </h1>

  <div class="ui three statistics">
    <div class="statistic">
      <div class="value">
        3
      </div>
      <div class="label">
        Events
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        27
      </div>
      <div class="label">
        POIs
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        15
      </div>
      <div class="label">
        Karten
      </div>
    </div>
  </div>

  <h1 class="ui large header">
    Übersicht
  </h1>

  <p>Willkommen bei Klostermaps. Hier im Admin-Bereich können Karten, Marker und Events angelegt werden. Dazu einfach auf die Menüpunkte klicken.</p>

  <p>Github Repository Frontend: <a href="https://github.com/m4rl0ne/klostermaps-frontend/" target="_blank">Github</a> | Github Repository Backend: <a href="https://github.com/DerErli/klostermaps-backend" target="_blank">Github</a> | <a href="www.marlonarend.de" target="_blank">www.marlonarend.de</a></p> 

  <p>Erstellt mit <a href="https://angular.io/" target="_blank">Angular</a>, <a href="https://nodejs.org/en/" target="_blank">Node.js</a> und <a href="https://leafletjs.com/" target="_blank">Leaflet</a></p>

  <div class="ui divider"></div>

  <h1 class="ui large header">Aktivitäten</h1>

  <div class="ui feed">
    <div class="event">
      <div class="label">
        <i class="pencil icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            Administrator
          </a> hat die Karte "djawjdwakwadkdwa.jpeg" bearbeitet
          <div class="date">
            Vor 1 Stunde
          </div>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="label">
        <i class="trash icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            Administrator
          </a> hat die Karte "plösgjenjabwhdawh.jpeg" gelöscht
          <div class="date">
            Vor 3 Stunden
          </div>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="label">
        <i class="plus icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            Administrator
          </a> hat die Karte "plösgjenjabwhdawh.jpeg" angelegt
          <div class="date">
            Vor 4 Stunden
          </div>
        </div>
      </div>
    </div>
    <a><i class="arrow right icon"></i>Mehr</a>
  </div>

  <div class="ui divider"></div>


</div>